/* ************************ */
/* Setting some global styling */
/* ************************ */

/* Importing a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --clr-1: rgb(29, 63, 82);
  --clr-2: rgb(8, 5, 0);
  --clr-3: rgb(255, 200, 89);
  --clr-4: rgb(242, 148, 41);
  --clr-5: rgb(163, 39, 47);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background:linear-gradient(
    to right,
    rgba(255, 200, 89, 0.3),
    rgba(242, 148, 41, 0.3)
    );
}

/* ************************ */
/* Navigation Styling */
/* ************************ */

.nav-container {
  width: 100%;
  background-color: var(--clr-1);
}

.navbar {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8rem;
  padding-top: 5px;
  color: var(--clr-3);
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-3);
}

.user-icon {
  padding-top: 5px;
  width: 30px;
}

/* ************************ */
/* Landing Page Styling */
/* ************************ */

.about {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.about-heading {
  text-align: center;
  margin-top: 3rem;
}

.about-container-one,
.about-container-two,
.about-container-three {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-container-two .about-paragraph {
  order: -1;
}

.about-paragraph {
  width: 50%;
  font-family: "Rokkitt", sans-serif;
  font-size: x-large;
  padding: 10px;
}

.about-image {
  aspect-ratio: 1/0.6;
  width: 400px;
  border-radius: 50px;
  box-shadow: 0 0 .5rem;
  margin: 10px;
}

/* ************************ */
/* Products Styling */
/* ************************ */

/* Styling the products heading */
.products-heading {
  text-align: center;
  padding:20px 0;

}

/* Styling the products container */
.products-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem;
  margin: 0 1rem 2rem 1rem;
  background-color: var(--clr-1);
  border-radius: 10px;
  max-width: 18rem;
}

.product-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 20px;
}

.card-title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: x-large;
  color: white;
  font-family: "Roboto", sans-serif;
}

.card-price {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

/* ************************ */
/* Sign In Styling */
/* ************************ */

.header-container {
  text-align: center;
  margin-top: 40px;
}

.sign-in-button {
  font-family: inherit;
  font-size: x-large;
  padding: 10px 30px;
  background-color: var(--clr-1);
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sign-in-button:hover {
  background-color: var(--clr-3);
}

/* ************************ */
/* Sign Out Styling */
/* ************************ */

.sign-out-container {
  text-align: center;
  margin-top: 3rem;
}

/* ************************ */
/* Legal Styling */
/* ************************ */

.legal-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
}

.legal-heading {
  font-family: "Roboto", sans-serif;
}

.legal-paragraph {
  font-family: "Rokkitt", sans-serif;
  font-size: 1.5rem;
}

/* ************************ */
/* Interest Styling */
/* ************************ */

.interest-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.interest-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.amount-container,
.months-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.amount-label,
.months-label {
  width: 30%;
  font-size: 1.2rem;
  font-weight: bold;
}

.amount-input,
.months-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 70%;
  font-size: 1rem;
}

.interest-button {
  font-family: inherit;
  font-size: x-large;
  padding: 10px 30px;
  background-color: var(--clr-1);
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.interest-button:hover {
  background-color: var(--clr-3);
}

/* ************************ */
/* Footer Styling */
/* ************************ */

.footer {
  margin-top: 3rem;
  text-align: center;
}

